.home{
    /* padding-top: 100px; */
    width: 100vw;
}

.progress, .user-info{
    justify-content: center;
}

.progress{
    background-color: white;
    height: 300px;
}

.user-info{
    background-color: var(--oatmeal);
    /* height:20vh; */
    width: 100%;
    padding: 20px 0;
    text-transform: uppercase;
}

.calendar{
    height: 80vh;
}

.user-info-div{
    display: flex;
    justify-content: space-around;
}

.user-stat{
    text-align: center;
}