.progress-bar-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:10%;
    padding-bottom: 20px;
    width: 100%;
}

.progress-bar-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.progress-bar{
    width: 85vw;
    background: transparent;
    color: var(--dark-green);
}

.progress-bar-info{
    color: var(--dark-green);
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.grow-basil{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: baseline;
    width: 85%;
}

.grow-basil img{
    width: 100px;
}