.progress-bar-div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top:100px;
}

.progress-bar{
    width: 90vw;
    background: transparent;
    color: var(--dark-green);
}

.progress-bar-info{
    color: var(--dark-green);
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.grow-basil{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%;
}

.grow-basil img{
    width: 100px;
}