
.form-container{
    width: inherit;
    height: inherit;
    /* background-color: #e3dcd2; */
    /* font-family: 'Roboto Condensed',sans-serif; */
} 
form {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}




/* btn */
input {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -300%);
    display: block;
    width: 70vw;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s cubic-bezier(0.4, 0.25, 0.8, 0.3);
}
input {
    padding: 0.25rem 0;
    border: 0;
    border-bottom: 8px solid #013328;
    outline: 0;
    background: transparent;
    color: #013328;
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 0.125rem;
    transition: all 0.5s cubic-bezier(0.4, 0.25, 0.8, 0.3);
}
input::selection {
    background: rgba(187, 21, 21, 0.25);
}

.btn, .signup-button {
    padding: 10px 20px !important;
    border: 0;
    outline: 0;
    border-radius: 20px;
    color: #013328;
    font-size: 2rem;
    line-height: 3.6rem;
    letter-spacing: 0.0625rem;
    outline:none;
    text-transform: uppercase;

    /* box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.25); */
    /* text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.2); */
}
.btn{
    /* background-color: #e3dcd2;   */
    outline: none;
    border: 2px solid #013328;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -300%);
    display: block;
    width: 15vw;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s cubic-bezier(0.4, 0.25, 0.8, 0.3);
}
input:focus, .btn:focus {
    opacity: 1;
    transform: translate(-50%, -100%);
    pointer-events: auto;
    transition: all 0.4s cubic-bezier(0.1, 0.45, 0.1, 0.85) 0.5s;
    z-index: 10;
    
}
input:focus ~ input, input:focus ~ .btn {
    transform: translate(-50%, 500%);
    transition: all 0.5s ease-in;
}
input:focus ~ label .label-text {
    transform: translate(-50%, 300%);
    transition: all 0.5s ease-in;
}

input:focus ~ label .error-text {
    transform: translate(-50%, 300%);
    transition: all 0.5s ease-in;
}
input:focus ~ .tip {
    opacity: 1;
}
input:focus ~ .signup-button, .btn:focus ~ .signup-button {
    opacity: 0;
}
input:focus + label .label-text {
    opacity: 1;
    transform: translate(-50%, -100%);
    transition: all 0.3s cubic-bezier(0.1, 0.45, 0.1, 0.85) 0.4s;
}

input:focus + label .error-text {
    opacity: 1;
    transform: translate(-50%, -100%);
    transition: all 0.3s cubic-bezier(0.1, 0.45, 0.1, 0.85) 0.4s;
}

input:focus + label .nav-dot:before {
    background: #e3dcd2;
    box-shadow: 0 0 0 0.15rem #111, 0 0 0.05rem 0.26rem #e3dcd2;
}
.tip {
    position: fixed;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    opacity: 0;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 300;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    text-align: right;
    transition: opacity 0.25s 0.5s;
}
.signup-button, .signup-button-trigger {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 20vw;
    border-radius: 50px;
    background: transparent;
    border: 2px solid #20473f;  
    padding: 5px 5px;
    line-height: 3.6rem;
    text-transform: uppercase;
    text-align: center;
    pointer-events: none;
    cursor: pointer;
    transition: opacity 0.4s 0.3s;
}
.signup-button-trigger {
    opacity: 0;
    pointer-events: auto;
}
.label-text {
    position: fixed;
    top: calc(50% - 4rem);
    left: 50%;
    transform: translate(-50%, -300%);
    width: 70vw;
    padding: 3.125rem 0 1.5rem;
    text-transform: uppercase;
    color: #013328;
    opacity: 0;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.125rem;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.4, 0.25, 0.8, 0.3) 0.05s;
    /* font-family: 'Roboto Condensed',sans-serif; */
}
.error-text{
    position: fixed;
    top: calc(70% - 4rem);
    left: 50%;
    transform: translate(-50%, -300%);
    width: 70vw;
    padding: 3.125rem 0 1.5rem;
    text-transform: uppercase;
    color: #111;
    opacity: 0;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.125rem;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.4, 0.25, 0.8, 0.3) 0.05s;
    /* font-family: 'Roboto Condensed',sans-serif; */
    
    
}
.nav-dot {
    cursor: pointer;
    position: fixed;
    padding: 0.625rem 1.25rem 0.625rem 0.625rem;
    top: 52%;
    right: 1.25rem;
}
.nav-dot:before {
    content: '';
    display: inline-block;
    border-radius: 50%;
    width: 0.375rem;
    height: 0.375rem;
    margin-right: 0.625rem;
    position: fixed;
    background-color: #16272f;
    border: 0;
    transition: all 0.25s;
}
.nav-dot:hover:before {
    width: 0.625rem;
    height: 0.625rem;
    margin-top: -0.125rem;
    margin-left: -0.125rem;
    background-color: #013328;
}
label[for="input-1"] .nav-dot {
    margin-top: -125px;
}
label[for="input-2"] .nav-dot {
    margin-top: -100px;
}
label[for="input-3"] .nav-dot {
    margin-top: -75px;
}
label[for="input-4"] .nav-dot {
    margin-top: -50px;
}

.btn:focus {
    outline:none;
    box-shadow:none;
}