.meal-plan-form-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-left: 10%;
    width: 80%;
    height: 100%;
    /* border: 1px solid red; */
    /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; */
}
.meal-plan-form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border:1px solid red; */

}

form {
  width: 100%;
  height: 100%;
}

.diet-div {
  display: flex;
  flex-direction: column;
  margin-left: 30;
  /* align-items: center; */
  /* justify-self: center; */
}
.diet-item-div {
  width: 100%;
  /* border:1px solid red;    */
  display: flex;
  border-top: 2px solid grey;
  padding-top: 1em;
  padding-bottom: 0.5em;
  /* justify-content:space-between; */
  /* justify-content: top; */
}

.diet-item-div-1{
  width: 100%;
  display: flex;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.diet-infor-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border:1px solid red;    */
}

.diet-description {
  /* border:1px solid red; */
  /* display: flex; */
  /* position: relative; */
  width: 85%;
}

.toggle-1{
  --width: 50px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);
  display: inline-block;
  cursor: pointer;
  margin-top: 0.8em;
  /* border: solid red; */
}

.toggle {
  --width: 50px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);
  display: inline-block;
  cursor: pointer;
  /* margin-top: 3%; */
  /* border: solid red; */
}

.toggle-input {
  display: none;
}

.toggle-fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background-color: #dddddd;
  transition: background 0.2s;
}

.toggle-input:checked ~ .toggle-fill {
  background: #6a996b;
}

.toggle-fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: var(--height);
  background: #1f2d20;
  opacity: 0.8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}

.toggle-input:checked ~ .toggle-fill::after {
  transform: translateX(var(--height));
}

.radio-btn {
  position: absolute;
  display: none;
}

/* range bar */
.range-div {
  display: flex;
  /* position: relative; */
  width: 78%;
  margin: 6% auto;
  /* border:1px solid red; */
  /* position: relative; */
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.min-max{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.alert{
    margin-left: 70%;
}
.cal-tips {
  /* border:1px solid red; */
  display: flex;
  /* margin-top: 50px; */
  align-items: center;
  text-align: center;
  /* position: absolute; */
  /* top:10% */
  width: 60%;
}
.rangeslider-horizontal {
  width: 100%;
}

.category {
  /* position: relative; */
  height: 100%;
  display: flex;
  position: relative;
  /* justify-content: space-between; */
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 76%;
  /* flex-wrap: nowrap;  */
  /* background-color: darkkhaki; */
}

.excludeitem-div {
  /* border: 1px solid red; */
  background: #dddddd;
  border-radius: 30px;
  /* width: 100%; */
  /* display: inline-block; */
  display: flex;
  white-space: nowrap;
  width: fit-content;
  margin-right: 1em;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

.item-div {
  white-space: nowrap;
  display: flex;
  /* width: 100%; */
  /* border: 1px solid blue; */
  /* align-items:center; */
  justify-content: center;
}

.item-span {
  margin-left: 0.8em;
}

.diet-options {
  font-weight: bold;
  font-size: 1.1em;
  text-decoration: underline;
}

.mealoptions {
  font-size: 1.5em;
  color: #1a0000;
  font-weight: bold;
  /* text-decoration: underline; */
}

.learnmore{
  text-decoration: underline;  
  color: #1f2d20;
  margin-left: 0.5em;
}

.question-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
  width: 15%;
}