.meal-plan-form-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
    margin-left: 20%;
    width: 60%;
    height: 100%;
    /* border: 1px solid red; */
    font-family: inherit;
}
.meal-plan-form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border:1px solid red; */

}

form {
    width: 100%;
    height: 100%;
}




.diet-div{
    display: flex;
    flex-direction: column;
    margin-left: 30;
    align-items: center;
}
.diet-item-div{
    width: 100%;
    /* border:1px solid red;    */
    display: flex;
    /* justify-content:space-between; */
    /* justify-content: top; */
    
}

.diet-infor-div{
    display: flex;
    flex-direction: column;
    /* border:1px solid red;    */

}

.diet-description{
    /* border:1px solid red; */
    display: flex;
    position: relative;
    width: 80vh;
}

.toggle{
    --width: 50px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);
    display: inline-block;
    cursor: pointer;
    /* margin-top: 5%; */
    /* border: solid red; */

}

.toggle-input{
    display: none;
}

.toggle-fill{
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background-color: #dddddd;
    transition: background 0.2s;
}

.toggle-input:checked ~ .toggle-fill{
    background: #4d774e;
}

.toggle-fill::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width: var(--height);
    background: BLACK;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
    transition: transform 0.2s;
}

.toggle-input:checked ~ .toggle-fill::after {
    transform: translateX(var(--height));
}

.radio-btn{
    position: absolute;
    display: none;
}

/* range bar */
.range-div{
    display: flex;
    position: relative;
    width: 80%;
    margin: 6% auto;
    /* border:1px solid red; */
    /* position: relative; */
}

.max-span{
    position: absolute;
    /* margin-left: 00px; */
    left:84%;
    top:-1%;
}

.cal-tips{
    /* border:1px solid red; */
    display: flex;
    margin-top: 50px;
    /* position: absolute; */
    /* top:10% */
}
.rangeslider-horizontal{
    width:100%;
}

.category{
    /* position: relative; */
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    /* background-color: darkkhaki; */
}

.excludeitem-div{
    border: 1px solid red;
    border-radius: 30px;
    /* width: 100%; */
    /* display: inline-block; */
    display: flex;
    white-space: nowrap;
    width:fit-content;
}

.item-div{
    white-space: nowrap; 
    display: flex;
    /* width: 100%; */
    /* border: 1px solid blue; */
}

