.navbar-brand > img {
  width: 150px;
}

.navbar {
  background: rgba(220, 220, 220, 0.4);
}

.nav-link {
  color: black;
}

a {
  color: var(--black);
}

a:hover {
  text-decoration: none;
  color: black;
}

.navbar-links {
  display: flex;
}
