.navbar-brand > img {
  width: 150px;
}

.navbar {
  background: rgba(220, 220, 220, 0.4);
  border-bottom: 1px solid  rgba(220, 220, 220, 0.4);
}

.nav-link {
  color: black;
  height: 100%;
}

a {
  color: var(--black);
}

a:hover {
  text-decoration: none;
  color: black;
}

.navbar-links {
  display: flex;
}

.nav-link {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #031d44;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: #031d44;
}

.nav-link::before {
  width: 0%;
  bottom: 10px;
}

.nav-link:hover::before {
  width: 100%;
}
