.navbar-brand > img {
  width: 150px;
}

.navbar {
  background: rgba(220, 220, 220, 0.4);
}

.nav-link {
  color: black;
  height: 100%;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

a {
  color: var(--black);
}

a:hover {
  text-decoration: none;
  color: black;
}

.navbar-links {
  display: flex;
}

.nav-link:hover {
  background-color: white;
  border-radius: 4px;
  color: #333333;
}
