/* :root{
    --black: #100C0D;
    --dark-green: #013328;
    --green: #0e6c57;

    --oatmeal: #e3dcd2;
    --salmon: #cc8b65;
} */

body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  /* font-family:"Lato", sans-serif; */
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.splash {
  position: relative;
}

.pimg1,
.pimg2,
.pimg3,
.pimg4 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment: fixed;
}

.pimg1 {
  background-image: url("../../images/splash1.jpg");
  min-height: 100vh;
}

.pimg2 {
  background-image: url("../../images/splash2.jpg");
  min-height: 400px;
}

.pimg3 {
  background-image: url("../../images/splash5.jpg");
  min-height: 400px;
}

.pimg4 {
  background-image: url("../../images/splash6.jpg");
  min-height: 100vh;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: var(--oatmeal);
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: var(--white);
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.ptext .border.trans {
  background-color: transparent;
}

#signup {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

#signup:hover {
  background-color: white;
  color: #333333;
}

.ptext a {
  text-decoration: none;
}

.about-us {
  top: 20%;
}

.about-us-span {
  color: #111;
  border: #111 1px solid;
  padding: 20px;
}

.about-us-links{
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.profiles {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.profile {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative
}

.dev-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: solid 1px var(--white);
}

.prof-name,
.dev-img {
  border: solid 1px var(--white);
  background-color: #282e34;
  color: var(--white);
}

.github{
  display: flex;
  justify-content: center;
  font-size: 100px;
  color: #111;
  margin-bottom: 50px;
}

@media (max-width: 568px) {
  .pimg1,
  .pimg2,
  .pimg3 {
    background-attachment: scroll;
  }
}

.linkedin {
  display: flex;
  justify-content: center;
  color: #111;
  margin-bottom: 50px;
  position: absolute;
  top: 0;
  left: 110px;
  font-size: 35px;
}