:root{
    --black: #100C0D;
    --dark-green: #013328;
    --green: #0e6c57;

    --oatmeal: #e3dcd2;
    --salmon: #cc8b65;
}

body, html{
  height:100%;
  margin:0;
  font-size:16px;
  /* font-family:"Lato", sans-serif; */
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../../images/splash1.jpg');
  min-height:1270px;
}

.pimg2{
  background-image:url('../../images/splash2.jpg');
  min-height:400px;
}

.pimg3{
  background-image:url('../../images/splash5.jpg');
  min-height:400px;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:var(--oatmeal);
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color: var(--oatmeal);
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

.profiles{
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  top: 60%;
}

.profile{
  display: flex;
  flex-direction: column;
  text-align:center;
}

.dev-img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.prof-name, .dev-img{
  border: solid 1px var(--oatmeal);
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}